---
import Base from "../layouts/Base.astro";
---

<Base>
  <!-- <h1>Connect with Me</h1> -->
  <ul class="social-links">
    <li>
      <a
        href="https://github.com/purohitprachi72"
        target="_blank"
        rel="noopener"
      >
        GitHub
      </a>
    </li>
    <li>
      <a href="mailto:purohitprachi72@gmail.com">
        Gmail
      </a>
    </li>
    <li>
      <span>Discord: @ppsmallestchild</span>
    </li>
    <li>
      <a
        href="https://research-paper-iesbaatbr-ar.blogspot.com/2023/01/indigenous-education-system-before-and.html"
        target="_blank"
        rel="noopener"
      >
        Blogger
      </a>
    </li>
  </ul>
</Base>