---
import Social from './social.astro';
---

<style>
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      padding: 1rem;
      background-color: #333; /* Change this to your desired background color */
      color: #fff; /* Change this to your desired text color */
      width: 100%;
      position: fixed;
      bottom: 0;
    }
  </style>

<footer>
  <!-- <Social platform="gmail" username="purohitprachi72@gmail.com" /> -->
  <!-- <Social platform="github" username="purohitprachi72" /> -->
  <!-- <Social platform="pp" username="pp" /> -->
  <!-- <p>© 2025 YC. All rights reserved.</p> -->
</footer>